<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AMP</title>
</head>
<body>
<div class="OutPanel_wordBox__03ZuM" style="height: 800px;">
    <form action="/tran1" enctype="multipart/form-data">
        <textarea class="OutPanel_lineOutPut__YRSVo" id="copyPanel" readonly="" style="height: 600px;width: 500px;"></textarea>
    </form>
{#    <textarea class="OutPanel_lineOutPut__YRSVo" id="copyPanel" readonly="" style="height: 600px;width: 500px;"></textarea>#}
</div>
</body>
</html>