<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AMP</title>
</head>
<body>
<div class="OutPanel_wordBox__03ZuM" style="height: 800px;">
    <table border=1>
        <tr>
            <td>{{ real_date[0] }}</td>
            <td>{{ 1.0 }}</td>
        </tr>
        <tr>
            <td>{{ real_date[1] }}</td>
            <td>{{ real_date[3] }}</td>
        </tr>
        <tr>
            <td>{{ real_date[2] }}</td>
            <td>{{ real_date[4] }}</td>
        </tr>
        <tr>
            <td>{{ real_date[5] }}</td>
            <td>{{ real_date[6] }}</td>
        </tr>
    </table>
    {#    <textarea class="OutPanel_lineOutPut__YRSVo" id="copyPanel" readonly="" style="height: 600px;width: 500px;"></textarea>#}
</div>
</body>
</html>