<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>回译</title>
</head>
<body>
<div class="OutPanel_wordBox__03ZuM" style="height: 800px;">
    <textarea class="OutPanel_lineOutPut__YRSVo" id="copyPanel" readonly="" style="height: 600px;width: 500px;">{{ "原文:" + "\n" + real_date[0] }}</textarea>
    <textarea class="OutPanel_lineOutPut__YRSVo" id="copyPanel" readonly="" style="height: 600px;width: 500px;">{{ "中英回译:" + "\n" + real_date[1] }}</textarea>
    <textarea class="OutPanel_lineOutPut__YRSVo" id="copyPanel" readonly="" style="height: 600px;width: 500px;">{{ "中日回译:" + "\n" + real_date[2] }}</textarea>
{#    <textarea class="OutPanel_lineOutPut__YRSVo" id="copyPanel" readonly="" style="height: 600px;width: 500px;"></textarea>#}
</div>
</body>
</html>